/* Layout */

/* Head */

/* Header */
 html {
   scroll-behavior: smooth;
 }
.site-header {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;
  padding-top: 1rem;
  align-items: center;
  font-family: "Raleway";
  width: 100vw;
  height: auto;
}
.screen-reader {
  display: none;
}

/* Logo */

.logo {
  order: 1;
  width: 15%;
}
.logo img {
  max-width: 120px;
}
img {
  height: auto;
  max-width: 100%;
}

 /* Cart */
 .cart {
  cursor: pointer;
  text-align: right;
  order: 3;
   width: 15%;
   width: 62px;
}
img {
  height: auto;
  max-width: 100%;
}

/* Navigation Bar */
.main-navigation {
  flex-grow: 1;
  order: 2;
  text-align: center;
  align-self: center;
  flex-basis: auto;
}
.main-navigation li {
  font-size: .9rem;
  margin: 0 .5rem;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-bottom: 0px;
  margin-left: 0.5rem;
}
.main-navigation li {
  display: inline-block;
  font-weight: 700;
  margin: 0 1rem;
  margin-top: 0px;
  margin-right: 1rem;
  margin-bottom: 0px;
  margin-left: 1rem;
  text-transform: uppercase;
}
li {
  display: list-item;
}
a, h3 {
  color: #e2574c;
  text-decoration: none;
}
  /* Section Banner */

 .banner {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
  url(../images/banner-girl.png) no-repeat center 60px,
  url(../images/flower-bkgd.jpg) repeat-x top;
  background-size: cover, 32vh;
  background-position: center, bottom;
  height: 400px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.banner-text {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.collection {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.banner-text.container {
  text-align: center;
}
.seasons {
  font-family: Playfair Display Web,serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: none;
}

/* Section About */
.about {
  text-align: center;
}
.about-text {
  max-width: 720px;
}
section h2 {
  text-align: center;
}
h2 {
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}
h1, h2, h3 {
  font-family: Playfair Display Web,serif;
  line-height: 1;
}
h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

/* Section Products */
.products {
  width: 1265px;
  height: 644.5px;
  position: relative;
} 
.category-name a {
  color: #fff;
   font-family: 'Raleway Medium';
   font-size: 1.6rem;
   text-shadow: 2px 2px 4px hsla(0, 0%, 39%, .8);
   text-transform: uppercase;
   align-content: center;
   align-items: center;
   justify-content: center;
   align-self: center;
}

.product-categories { 
  display: grid;
  grid-gap: 5px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  }

.product-categories div:nth-child(1) {
  height: 100%;
  width: 100%;
 background-size: cover;
 background-position: right;
  background-image: url(../images/mens-category.jpg);
  grid-column: 1/ span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-categories div:nth-child(2) {
  height: 100%;
  width: 100%;
 background-size: cover;
 background-position: right;
background-image: url(../images/trends-category.jpg);
display: flex;
  align-items: center;
  justify-content: center;
}
.product-categories div:nth-child(3) {
  height: 100%;
  width: 100%;
 background-size: cover;
 background-position: right;
  background-image: url(../images/glasses-category.jpg);
  display: flex;
    align-items: center;
    justify-content: center;
}
.product-categories div:nth-child(4) {
  height: 100%;
  width: 100%;
  background-position: right;
 background-size: cover;
  background-image: url(../images/sale-category.jpg);
  display: flex;
    align-items: center;
    justify-content: center;
}
.product-categories div:nth-child(5) {
  height: 100%;
  width: 100%;
 background-size: cover;
 background-position: right;
  background-image: url(../images/bags-category.jpg);
  display: flex;
    align-items: center;
    justify-content: center;
}
.product-categories div:nth-child(6) {
  height: 100%;
  width: 100%;
  background-position: top right;
 background-size: cover;
  background-image: url(../images/womens-category.jpg);
  grid-column: 3/ 5;
  display: flex;
    align-items: center;
    justify-content: center;
}
/* Section Featured */

.featured .container {
  padding: 0;
width: 100vw;
height: auto;
display: flex;
flex-flow: row wrap;
}
.container {
  padding: 0 2%;
  padding-top: 0px;
  padding-right: 2%;
  padding-bottom: 0px;
  padding-left: 2%;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 100%;
}

 /* Section Newsletter */
 
 .newsletter {
background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0px,
 rgba(0, 0, 0, 0.15)), url(../images/wave-bkgd.jpg);
background-position-y:  bottom;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
margin-bottom: 8px;
padding: 0 2%;
  padding-top: 0px;
  padding-right: 2%;
  padding-bottom: 0px;
  padding-left: 2%;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 343px;
  width: 1214px;
}
.sign-up-wrapper {
  max-width: 720px;
  text-align: center;
}
#sign-up-form {
  width: 67%;
}
#sign-up-form {
  display: block;
  margin: 2rem auto 0;
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
  width: 90%;
}
/* Footer */

.colophon {
  width: 250px;
  
}
.site-footer {
  background-color: #242424;
  color: #fff;
  font-family: Playfair Display Web,serif;
  padding-top: 4rem;
  padding-right: 0px;
  padding-bottom: 4rem;
  padding-left: 0px;
  text-align: center;
  width: 100%;
  height: 280px;
}

.site-footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  padding-top: 0px;
  padding-right: 2%;
  padding-bottom: 0px;
  padding-left: 2%;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

footer {
  display: block;
}
.container {
  width: 100%;
}
.site-footer a {
  color: #fff;
}
.address {
  color: #969696;
}
.social {
  font-family: Raleway Web,sans-serif;
  display: flex;
  flex-flow: column;
  text-align: left;
}
ol, ul {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
.social li {
  display: inline-block;
}
li {
  display: list-item;   
}
/* Mobile first CSS */

.carousel-cell {
  width: 100%;
  text-align: center;
}

/* media query example */
@media screen and (min-width: 600px) {
  .carousel-cell {
    width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .carousel-cell {
    width: 50%; }
  }