/* Header */
html {
  scroll-behavior: smooth;
}

.site-header {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 2% 0;
}

.screen-reader {
  display: none;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Logo */
.logo {
  order: 1;
  width: auto;
  height: 5vmax;
  padding-left: 1%;
}

img {
  height: 100%;
  width: auto;
}

/* Cart */
.cart {
  cursor: pointer;
  text-align: right;
  order: 3;
  width: auto;
  height: 5vmax;
}

/* Navigation Bar */
.main-navigation {
  flex-grow: 1;
  order: 2;
  text-align: center;
  align-self: center;
  flex-basis: auto;
}

.main-navigation li {
  font-size: 0.9rem;
  margin: 0 0.5rem;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-bottom: 0px;
  margin-left: 0.5rem;
}

.main-navigation li {
  display: inline-block;
  font-weight: 700;
  margin: 0 1rem;
  margin-top: 0px;
  margin-right: 1rem;
  margin-bottom: 0px;
  margin-left: 1rem;
  text-transform: uppercase;
}

li {
  display: list-item;
}

a,
h3 {
  color: #e2574c;
  text-decoration: none;
}

/* Section Banner */
.banner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25)), url(../images/banner-girl.png) no-repeat center 60px, url(../images/flower-bkgd.jpg) repeat-x top;
  background-size: cover, 20vmax;
  background-position: center, bottom;
  height: 60vmax;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.banner-text {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}

.collection {
  font-family: "Raleway Web", sans-serif;
  font-size: 2vmax;
  margin-bottom: 1.5rem;
}

.banner-text.container {
  text-align: center;
}

.seasons {
  font-family: Playfair Display Web, serif;
  font-size: 4rem;
  font-weight: 400;
  text-transform: none;
}

/* Section About */
.about {
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}
.about .about-text {
  width: 50%;
  margin: 0 auto;
}
.about h2 {
  font-size: 3.2vmax;
  font-weight: 200;
}
.about h2 span {
  font-weight: 600;
}
.about p {
  font-family: "Raleway Web", sans-serif;
  font-size: 1.5vmax;
  font-weight: 200;
  line-height: 1.4;
}

section h2 {
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3 {
  font-family: Playfair Display Web, serif;
  line-height: 1;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

/* Section Products */
.products {
  width: 100%;
  height: 50vmax;
  position: relative;
}
.products a {
  font-family: "Raleway Web", sans-serif;
  font-size: 2.3vmax;
}

.category-name a {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  align-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.product-categories {
  display: grid;
  grid-gap: 5px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.product-categories div:nth-child(1) {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-image: url(../images/mens-category.jpg);
  grid-column: 1/span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-categories div:nth-child(2) {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-image: url(../images/trends-category.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-categories div:nth-child(3) {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-image: url(../images/glasses-category.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-categories div:nth-child(4) {
  height: 100%;
  width: 100%;
  background-position: right;
  background-size: cover;
  background-image: url(../images/sale-category.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-categories div:nth-child(5) {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-image: url(../images/bags-category.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-categories div:nth-child(6) {
  height: 100%;
  width: 100%;
  background-position: top right;
  background-size: cover;
  background-image: url(../images/womens-category.jpg);
  grid-column: 3/5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section Featured */
.featured .container {
  padding: 0;
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

/* Section Newsletter */
.newsletter {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.15)), url(../images/wave-bkgd.jpg) no-repeat bottom;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 11vmax;
  padding: 1vmax 0 7vmax 0;
}
.newsletter .container {
  width: 50%;
  margin: 0 auto;
  height: inherit;
  text-align: center;
}
.newsletter .container h2 {
  font-size: 3.1vmax;
}
.newsletter .container p {
  font-family: "Raleway Web", sans-serif;
  font-size: 1.5vmax;
  line-height: 1.5;
  text-align: center;
}
.newsletter .container #your-email {
  padding: 2% 2%;
  border-radius: 2em;
  border-color: transparent;
  line-height: 2;
  width: 50%;
  font-size: 1vmax;
}
.newsletter .container #subscribe {
  background: #e2574c;
  color: white;
  padding: 1% 2%;
  border-radius: 2em;
  border-color: transparent;
  line-height: 2;
  transform: translateX(-8vmax);
  font-size: 1vmax;
}

/* Footer */
.site-footer {
  background-color: #242424;
  color: #fff;
  font-family: "Playfair Display Web", serif;
  text-align: center;
  width: 100%;
}
.site-footer .container {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}
.site-footer .container .colophon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  text-align: left;
  line-height: 1.5;
}
.site-footer .container .colophon a {
  color: white;
  text-decoration: underline;
}
.site-footer .container .social {
  text-align: right;
  line-height: 1.5;
  display: flex;
  flex-flow: column nowrap;
  align-self: right;
  padding-left: 70%;
}
.site-footer .container .social li {
  justify-content: stretch;
  text-align: left;
}

footer {
  display: block;
}

.address {
  color: #969696;
}

.social {
  font-family: Raleway Web, sans-serif;
  display: flex;
  flex-flow: column;
  text-align: left;
}
.social a {
  color: white;
}

ol,
ul {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

.social li {
  display: inline-block;
}

li {
  display: list-item;
}

.flickity-page-dots {
  position: relative;
  bottom: unset;
  padding: 2% 0;
}

.flickity-viewport {
  height: 35vmax;
}

.add-item {
  padding: 2%;
  font-size: 1rem;
  background: black;
  color: white;
  text-align: center;
  width: fit-content;
}

/* Mobile first CSS

  .carousel-cell {
    width: 100%;
    text-align: center;
  } */
/* media query */
@media only screen and (min-width: 250px) and (max-width: 600px) {
  .banner .container {
    flex-flow: column nowrap;
  }
  .banner .container .collection {
    font-size: 1rem;
  }
  .banner .container .seasons {
    font-size: 2rem;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    padding: 2% 0;
  }
  .container .logo {
    order: 1;
  }
  .container .cart {
    order: 2;
  }
  .container .main-navigation {
    border-top: 1px solid gray;
    margin-top: 1%;
    order: 3;
  }
  .container .main-navigation ul {
    display: inline-flex;
    justify-content: space-evenly;
  }
  .container .main-navigation ul li {
    padding: 0;
    margin: 3% 1%;
  }

  .about .about-text {
    margin: 0;
    width: 100%;
  }
  .about .about-text h2 {
    width: 100%;
  }
  .about .about-text p {
    width: 100%;
    font-size: 1rem;
  }

  .site-footer .container {
    display: flex;
    flex-flow: column nowrap;
  }

  .products {
    height: 70vmax;
  }
  .products .product-categories {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
  }
  .products .product-categories :nth-child(1) {
    grid-column: 1/span 2;
  }
  .products .product-categories :nth-child(2) {
    grid-row: 2;
  }
  .products .product-categories :nth-child(3) {
    grid-row: 2;
    grid-column: 2/2;
  }
  .products .product-categories :nth-child(4) {
    grid-row: 3;
  }
  .products .product-categories :nth-child(5) {
    grid-row: 3;
    grid-column: 2/2;
  }
  .products .product-categories :nth-child(6) {
    grid-row: 4;
    grid-column: 1/span 2;
  }

  .carousel-cell > p,
.carousel-cell h3 {
    text-align: center;
  }

  .newsletter {
    width: 100%;
    padding: 1%;
    height: inherit;
  }
  .newsletter .container {
    width: 100%;
  }
  .newsletter .container h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .newsletter .container p {
    font-size: 1rem;
  }
  .newsletter .container form {
    text-align: center;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    padding: 3% 0;
    width: 100%;
  }
  .newsletter .container form #your-email {
    width: 100%;
    font-size: 1rem;
  }
  .newsletter .container form #subscribe {
    width: fit-content;
    font-size: 1rem;
    border-radius: 100;
    right: -5vmax;
    position: absolute;
    margin-top: 1%;
  }

  .flickity-viewport {
    width: 100%;
  }

  .colophon p {
    line-height: 1.5;
    text-align: center;
  }

  .site-footer .container .social {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
  }
  .site-footer .container .social span {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
